@import 'nib'
@import 'dzslides'

AccentLabRed = #AA0F14
AccentLabGrey = #AFAFAF
LabAccentBlue = #41AAF5
LabAccent2 = #8C5000
LabAccent3 = #FFA500
LabAccent4 = #780000
LabAccent5 = #FF3232
LabAccent6 = #64AA00
CoverTitle = #BEBEBE
SecondBody = #7D7D7D
SubHead =    #353535


body
  font-family: Futura
  background-image: url("Logo Lab49 Small.png")
  background-repeat: no-repeat
  background-position: 99% 99%

section 
  font-family: Futura

h1,h2,h3,h4,h5
  color: AccentLabGrey
  text-align: left;

h1
  font-size: 48px
  color: AccentLabRed
h2
  font-size: 36px  
h3
  font-size: 28px
  margin-bottom: 10px
h4
  font-size: 24px  
h5
  font-size: 18px  

ul
  list-style: url(bullet_Arrow_Red_24.png)
  padding-left: 30px
  li
    color: AccentLabGrey    
    font-size: 24px
    ul
      list-style: url(bullet_Arrow_Grey_24.png)
      font-size: 20px

ol
  list-style: decimal;
  list-style-position: outside;
  padding-left: 30px;

pre
  background-color: SubHead
  color: white
  margin-bottom: 50px
  margin-left: 50px 
  margin-right: 400px
  margin-top: 50px
  padding: 10px

p
  margin-top: 0
  padding-top: 0

A:link
  color: LabAccentBlue
A:visited
  color: LabAccent4
A:hover
  color: LabAccent3

blockquote
  border-left: 3px solid #ccc
  color: LabAccent2 
  font: 14px/22px normal helvetica, sans-serif
  margin: 5px 0px 5px 60px
  padding-left: 15px
  p
    margin: 0
